<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>877222551784-tgf99895dudbr1u8qu0vuam60d0a6gs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877222551784-tgf99895dudbr1u8qu0vuam60d0a6gs1</string>
	<key>API_KEY</key>
	<string>AIzaSyBmR69_Jqzy7Tyw68Qp4SBhdEKV_mhc94E</string>
	<key>GCM_SENDER_ID</key>
	<string>877222551784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tresastronautas.ios.trilly</string>
	<key>PROJECT_ID</key>
	<string>trilly-3a</string>
	<key>STORAGE_BUCKET</key>
	<string>trilly-3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877222551784:ios:ca141704d370a262</string>
	<key>DATABASE_URL</key>
	<string>https://trilly-3a.firebaseio.com</string>
</dict>
</plist>